
/* タブレット */
@media (max-width: 1020px) and (min-width: 768px) {
 
.nav-box li a {
  position: relative;
  display: inline-block;
  font-size: 13px;
  height: 50px;
  margin: 0 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 50px;
}

.sp-main img{
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

#main ,.nav-box-sp ,.global-nav__list, .global-nav__item-sns  {
  display: none;
}


.sp-main{
  position: relative;
}

.spHeadLine{
  position: absolute;
  margin-left: 50px;
  top: 60%;
  left: 5%;
  font-family: monospace'Courier New', Courier;
  font-size: 8vw;
  color: #555;
  font-weight: bold;
  animation: SlideIn 2s ;
}

/* ここからabout */

 .profile-sp{
  display: none;
}  

h2{
  font-size: 30px;
  font-weight: normal;
  letter-spacing: .4rem;
  line-height: 1.2;
  padding-top: 50px;
  margin-bottom: 40px;
  font-family: 'Unna',serif;
  text-align: center;
}

.profile {
  max-width: 500px;
  height: auto;
  padding: 70px;
  margin: auto;
  margin-bottom: 60px;
  background: #F2F8FC;
 
}
.profile-image {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


.skill{
  max-width: 600px;
  height: auto;
  padding: 60px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 100px;
  background: #F2F8FC;
}

.skills{
  font-size: 24px;
  text-align: center;
  color: #696969;
}

.skills span{
  color: #8fbc8f;
}
}



/* スマホレスポンシブ480px */
@media (max-width: 767px) { 

  .sp-main img{
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
  }
  
  
  h1 {
    width: 200px;
    height: 40px;
  }


.spHeadLine{
  position: absolute;
  margin-left: 30px;
  top: 44%;
  left: 4%;
  font-family: monospace'Courier New', Courier;
  font-size: 8vw;
  color: #555;
  font-weight: bold;
  animation: SlideIn 2s ;
}



/* ここからハンバーガーメニュー */
.global-nav {
  position: fixed;
  right: -480px;
  top: 0;
  width: 280px;
  height: 100vh;
  padding-top: 60px;
  background-color:#e3eef9;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto;
}

.hamburger {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px; 
  height: 40px; 
  cursor: pointer;
  z-index: 300;
}
.global-nav__list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-nav__item {
  text-align: center;
  padding: 0 14px;
  font-size: 16px;

}
.global-nav__item a {
  display: block;
  padding: 20px 0;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
li.global-nav__item:hover {
  background-color: #fff;
}
.hamburger__line {
  position: absolute;
  left: 15px;
  width: 18px;
  height: 1px;
  background-color: #333;
  transition: all .6s;
}
.hamburger__line--1 {
  top: 14px;
}
.hamburger__line--2 {
  top: 20px;
}
.hamburger__line--3 {
  top: 26px;
}

/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}
.nav-open {
  opacity: .7;
  visibility: visible;
}
.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
} 


#main , .nav-box .pc-menu{
  display: none;
  }

.nav-box-sp li{
  float: left;
  margin: auto;
  }

.nav-box-sp ul {
    display: flex;
    align-items: center; 
  }
  
.nav-box-sp li a {
    position: relative;
    display: inline-block;
    font-size: 10px;
    height: 50px;
    margin: 0 1.4rem;
    letter-spacing: 0.2rem;
    line-height: 50px;
  }
  
.nav-box-sp li a:hover {
    border-bottom: 1px solid #333;
  }
  
.nav-box-sp li a:active {
    opacity: 0.5;
  }
  
 /* ここからabout */


h2{
  font-size: 24px;
  font-weight: normal;
  letter-spacing: .4rem;
  line-height: 1.2;
  padding-top: 30px;
  margin-bottom: 20px;
  font-family: 'Unna',serif;
  text-align: center;
}

.profile {
  max-width: 300px;
  height: auto;
  font-size: 11px;
  padding: 28px;
  margin: auto;
  margin-bottom: 60px;
  background: #F2F8FC;
 
}
  .profile-image {
  display: none;
}  

.profile-sp{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}


.skill{
  max-width: 300px;
  height: auto;
  padding: 30px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 100px;
  background: #F2F8FC;
}

.skills{
  font-size: 13px;
  text-align: center;
  color: #696969;
}

.skills span{
  color: #8fbc8f;
}

}