@charset "UTF-8";

body {
  display: block;
  background-color: #fff;
  font-size: 15px;
  font-family: '游ゴシック','YuGothic','ヒラギノ角ゴ ProN W3','メイリオ','Meiryo','sans-serif';
  line-height: 1.9;
  letter-spacing: 0.08rem;
  font-weight: normal;
  color: #333;
}
/* Heaader */
#header {
  display: block;
  margin-bottom: 14px;
  padding: 0 1rem;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  } 
}  


.nav-box {
  top: 0;
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  height: 90px;
  padding: 20px; 
  margin: 0 auto;
}


h1 {
  display: flex;
  align-items: center;
  font-weight: normal;
  line-height: 1.6;
  margin: 0;
  font-family: 'Asap',sans-serif;
  letter-spacing: .15rem;
}


h1:hover {
  opacity: 0.7;
}


.nav-box ul {
  display: flex;
  align-items: center;
}



.nav-box li a:hover {
  border-bottom: 1px solid #333;
}

.nav-box li a:active {
  opacity: 0.5;
}



/* ここからworks */
.work{
  text-align: center;
}
.work  img{
width: 350px;
margin-bottom: 10px;
}

.work1{
  margin-bottom: 130px;
}



/* footer */
footer {
  font-size: 12px;
  width: 100%;
  padding: 30px 0;
  background-color: #dcdcdc;
  text-align: center;
  color: #fff;
}


@media screen and (min-width: 961px){ 


  .nav-box li a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    height: 50px;
    margin: 0 1.3rem;
    letter-spacing: 0.2rem;
    line-height: 50px;
  }



/* main */
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}


/* top */

#main{
  position: relative;
}

 .sp-main , .nav-box-sp ,.global-nav__list, .global-nav__item-sns{
  display: none;
}  

/*フォント*/

.headLine{
  position: absolute;
  margin-left: 50px;
  top: 50%;
  left: 7%;
  font-family: monospace'Courier New', Courier;
  font-size: 8vw;
  color: #555;
  font-weight: bold;
  animation: SlideIn 2s ;
}



/* ここからabout */

.profile-sp{
  display: none;
}

.wrapper{
  margin: 0 0 80px 0;
}

h2{
  font-size: 36px;
  font-weight: normal;
  letter-spacing: .4rem;
  line-height: 1.2;
  padding-top: 60px;
  margin-bottom: 90px;
  font-family: 'Unna',serif;
  text-align: center;
}

#profilie{
 padding-bottom: 80px;
}
.profile-flexAll {
  display: flex;

} 

.profile {
  max-width: 500px;
  height: auto;
  padding: 60px;
  margin-left: 80px;
  margin-right: auto;
  background: #F2F8FC;
 
}
.profile-image {
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.study{
  max-width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.skill{
  max-width: 800px;
  height: auto;
  padding: 60px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 100px;
  background: #F2F8FC;
}

.skills{
  font-size: 20px;
  text-align: center;
  color: #696969;
}

.skills p {
  display: inline-block;
  text-align: left;
}

.skills span{
  color: #8fbc8f;
}

}

